.marketContainer {
  display: flex;
  flex-direction: row;
}
.marketContainer > .cardTableContainer > .cardTable {
  display: flex;
  flex-direction: column;
  border: solid 1px #000000;
  border-left: none;
  border-right: none;
}
.marketContainer > .cardTableContainer {
  margin: 10px;
  flex-grow: 2;
}
.marketContainer > .cardDetailsContainer {
  margin: 10px;
  margin-right: 20px;
}
.cardDetailsContainer .actionButton {
  width: 100%;
  text-transform: uppercase;
}
